body{
    background-image:url('blackbg.jpg');
    background-attachment: fixed;
    background-position: relative;
    background-size: cover;
    
    }

.transbox {
    margin-left:auto;
    margin-right: auto;
    margin-top: 70px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    border-radius: 15px;
    height:700px;
    width: 600px;
    padding: 30px;
}
 
#logouw{
    height: 80px;
    width: 80px;
}

h2{
    font-weight: bold;
    text-shadow:3px 3px 3px blue;
}

.nextbutton{
    text-align: center;
    margin: auto;
    justify-content: center;
}

    