
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

#lenovo{
    height:65px;
    width: 150px;
}

#amd, #nvidia, #hp{
    height: 80px;
    width: 160px;
}

#asus{
    height: 65px;
    width: 150px;
}

#microsoft{
    height: 70px;
    width: 180px;
}

#acer{
    height: 100px;
    width: 170px;
}

#giga{
    height: 70px;
    width: 120px;
}

#dell{
    height: 80px;
    width: 80px;
}
.quotes{
    color:rgb(243, 229, 229);
    font-size: larger;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.d-block{
    height: 608px;
    width: 100%;
}

#community{
    object-fit:fill;
    object-position: center;
    height: 300px;
    width: fit-content;
}


.card{
    height: 430px;
    width: 380px;
    text-align: center;
}

#company{
height: 320px;
width: 280px;
align-self: center;
}

#headercard{
    color: blue;
    font-weight: 600;
}

iframe{
    object-fit: fill;
}



.footerdiv{
    width: 60%;
}

footer{
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
}
.main{
    display: flex;
}
h3, h5{
    font-family: poppins;
}

.social{
    margin:20px 0 0 0;
}

.social a{
    padding:0 3px;
}

.fa-brands{
    height: 40px;
    width: 40px;
    background: 50px;
    line-height: 1.6;
    text-align:center;
    justify-content: center;
    font-size: 38px;
    border-radius:3px;
    transition: 0.3s;

}

.fa-brands:hover{
    background: red;
}


.box .content {
margin:20px 0 0 0;
}

#logouw{
    height: 80px;
    width: 80px;
}

#logoname{
    font-weight: bold;
    text-shadow:3px 3px 3px blue;
}

.dropdown-item:hover{
    background-color: gray;
}

