
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
}
.main{
    display: flex;
}
h3, h5{
    font-family: poppins;
}

.social{
    margin:20px 0 0 0;
}

.social a{
    padding:0 3px;
}
.fa-brands{
    height: 40px;
    width: 40px;
    background: black;
    line-height: 1.6;
    text-align:center;
    justify-content: center;
    font-size: 38px;
    border-radius:3px;
    transition: 0.3s;

}

.fa-brands:hover{
    background: red;
}

.main .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.box .content {
margin:20px 0 0 0;
}


